@using Web_oglasnik.Models
@model Korisnik
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Model.KorisnickoIme</h2>

<hr style="border-color:black;" />

<div class="row">
    <div class="col-md-2">
        <strong>Ime i prezime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Ime @Model.Prezime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Email:</strong>
    </div>
    <div class="col-md-10">
        @Model.Email
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Broj mobitela:</strong>
    </div>
    <div class="col-md-10">
        @Model.Mobitel
    </div>
</div>

@if (Model.Oglas != null)
{

    <br />
    <br />
    <br />


    <h4>Svi oglasi ovog oglašivača</h4>

    foreach (Oglas oglas in Model.Oglas)
    {
        <hr style="border-color:black;" />

        <h3>@Html.ActionLink(oglas.Naslov, "Detalji", "Oglas", new { id = oglas.ID }, null)</h3>

        <br />

        <strong>Marka:&nbsp;</strong>
        @oglas.Marka

        <br />

        <strong>Stanje:&nbsp;</strong>
        if (oglas.Stanje == "N")
        {
            <p style="display:inline;">Novo</p>
        }
        else
        {
            <p style="display:inline;">Rabljeno</p>
        }

        <br />

        <strong>Godište:&nbsp;</strong>
        @oglas.Godiste

        <br />

        <strong>Cijena:&nbsp;</strong>
        @String.Format("{0:N0}", Convert.ToDecimal(oglas.Cijena))
        <p style="display:inline;">kn</p>

        <br />

        <strong>Objavljen:&nbsp;</strong>
        @oglas.Datum
    }
}
