@using Web_oglasnik.Models
@model Korisnik
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Model.KorisnickoIme</h2>

<hr />

<div class="row">
    <div class="col-md-2">
        <strong>Ime i prezime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Ime @Model.Prezime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Email:</strong>
    </div>
    <div class="col-md-10">
        @Model.Email
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Broj mobitela:</strong>
    </div>
    <div class="col-md-10">
        @Model.Mobitel
    </div>
</div>

<br />
<br />
<br />

<h4>Svi oglasi ovog oglašivača</h4>

<hr />

<table>
    @foreach (Oglas oglas in Model.Oglas)
    {
        <tr>
            <td><h3>@Html.ActionLink(oglas.Naslov, "Detalji", "Oglas", new { id = oglas.ID }, null)</h3></td>
        </tr>

        <tr>
            <td><strong>Marka:</strong></td>
            <td>@oglas.Marka</td>
        </tr>

        <tr>
            <td><strong>Stanje:</strong></td>
            @if (oglas.Stanje == "N")
            {
                <td>Novo</td>
            }
            else
            {
                <td>Rabljeno</td>
            }
        </tr>

        <tr>
            <td><strong>Godište:</strong></td>
            <td>@oglas.Godiste.</td>
        </tr>

        <tr>
            <td><strong>Cijena:</strong></td>
            <td>@String.Format("{0:N0}", Convert.ToDecimal(oglas.Cijena)) kn </td>
        </tr>

        <tr>
            <td><strong>Objavljen:</strong></td>
            <td>@oglas.Datum</td>
        </tr>
    }
</table>
