@using Web_oglasnik.Models
@model Korisnik
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@Model.KorisnickoIme</h2>

<hr />

<div class="row">
    <div class="col-md-2">
        <strong>Ime i prezime:</strong>
    </div>
    <div class="col-md-10">
        @Model.Ime @Model.Prezime
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Email:</strong>
    </div>
    <div class="col-md-10">
        @Model.Email
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Broj mobitela:</strong>
    </div>
    <div class="col-md-10">
        @Model.Mobitel
    </div>
</div>
