@using Web_oglasnik.Models
@model List<Korisnik>
@{
    ViewBag.Title = "Popis korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Korisničko ime</th>
            <th>Email</th>
            <th>Mobitel</th>
            <th>Prezime i ime</th>
            <th>Ovlast</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kor in Model)
        {
            <tr>
                <td>@kor.KorisnickoIme</td>
                <td>@kor.Email</td>
                <td>@kor.Mobitel</td>
                <td>@kor.PrezimeIme</td>
                <td>@(kor.Ovlast?.Naziv)</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a href="@Url.Action("IspisKorisnika", "Korisnik")" class="btn btn-primary">
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        Kreiraj PDF
    </a>

</p>