@using Web_oglasnik.Models
@model Oglas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{ if (ViewBag.Novi)
    {
        <h2>Kreiranje novog oglasa</h2>
    }
    else
    {
        <h2>Ažuriranje oglasa</h2>
        <h3>@Model.Naslov</h3>
    }
}
@using (Html.BeginForm("Azuriraj", "Oglas", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite Podatke");

<div class="form-horizontal">
    <hr />
    @if (ViewBag.Novi)
    {
    int id = Convert.ToInt32(Session["ID"]);
    Model.ID_Korisnika = id;
    @Html.HiddenFor(model => model.ID_Korisnika);
    }
    else
    {
    <div class="form-group">
        @Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.ID, new { disabled = true, @class = "form-control" })
        </div>
    </div>

    }
    <div class="form-group">
        @Html.LabelFor(model => model.Naslov, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Naslov, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Naslov, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Godiste, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Godiste, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Godiste, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Stanje, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Stanje, "N") Novo
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Stanje, "R") Rabljeno
            </label>
            @Html.ValidationMessageFor(model => model.Stanje)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cijena, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Cijena, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cijena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Kreiraj oglas" class="btn btn-success">
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Povratak bez spremanja", "Popis", "Oglas", null, new { @class = "btn btn-primary btn-sm" })
</div>
