@using Web_oglasnik.Misc
@using Web_oglasnik.Models
@model Oglas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{ if (ViewBag.Novi)
    {
        <h2>Kreiranje novog oglasa</h2>
    }
    else
    {
        <h2>Ažuriranje oglasa</h2>
        <h3>@Model.Naslov</h3>
    }
}
@using (Html.BeginForm("Azuriraj", "Oglas", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Ispravite podatke");

<div class="form-horizontal">
    <hr style="border-color:black;"/>
    @{
        string username = Convert.ToString(((User as LogiraniKorisnik).KorisnickoIme));
        Model.KorisnickoIme = username;
        @Html.HiddenFor(model => model.KorisnickoIme);

        Model.Datum = DateTime.Now.Date.ToString("dd/MM/yyyy"); ;
        @Html.HiddenFor(model => model.Datum);
    }
    @if (!ViewBag.Novi)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ID, new { disabled = true, @class = "form-control" })
            </div>
        </div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Naslov, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Naslov, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Naslov, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Marka, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Marka, "Marka", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Godiste, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Godiste, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Godiste, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Stanje, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Stanje, "N") Novo
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(model => model.Stanje, "R") Rabljeno
            </label>
            @Html.ValidationMessageFor(model => model.Stanje, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cijena, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Cijena, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cijena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Opis, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Opis, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Slika, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ImageFile" class="form-control" />
            @Html.ValidationMessageFor(model => model.Slika, "", new { @class = "text-danger" })
        </div>
    </div>

    @if (ViewBag.Novi)
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj oglas" class="btn btn-success">
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ažuriraj  oglas" class="btn btn-success">
            </div>
        </div>
    }


</div>
}

<div>
    @Html.ActionLink("Povratak bez spremanja", "Popis", "Oglas", null, new { @class = "btn btn-primary btn-sm" })
</div>
