@using Web_oglasnik.Misc
@using Web_oglasnik.Models
@model Oglas
@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string stanje = "";
    if (@Model.Stanje == "N")
    {
        stanje = "Novo";
    }
    else
    {
        stanje = "Rabljeno";
    }

}

<h2>@Model.Naslov</h2>

<hr style="border-color:black;"/>

@if (!string.IsNullOrWhiteSpace(Model.Slika))
{
    <div class="row">
        <div class="col-md-10">
            <img src="@Url.Content(Model.Slika)" width="500" />
        </div>
    </div>

    <hr style="border-color:black;"/>
}

<div class="row">
    <div class="col-md-2">
        <strong>Marka:</strong>
    </div>
    <div class="col-md-10">
        @Model.Marka
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Stanje:</strong>
    </div>
    <div class="col-md-10">
        @stanje
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Godište:</strong>
    </div>
    <div class="col-md-10">
        @Model.Godiste.
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Cijena:</strong>
    </div>
    <div class="col-md-10">
        @String.Format("{0:N0}", Convert.ToDecimal(Model.Cijena)) kn
    </div>
</div>

<hr style="border-color:black;"/>

<div class="row">
    <div class="col-md-2">
        <strong>Opis:</strong>
    </div>
    <div class="col-md-10">
        <pre style="white-space: pre-wrap">@Model.Opis</pre>
    </div>
</div>

<hr style="border-color:black;"/>

<div class="row">
    <div class="col-md-2">
        <strong>Korisnik:</strong>
    </div>
    <div class="col-md-10">
        @Html.ActionLink(Model.KorisnickoIme, "Detalji", "Korisnik", new { korisnickoIme = Model.KorisnickoIme }, null)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <strong>Objavljen:</strong>
    </div>
    <div class="col-md-10">
        @Model.Datum
    </div>
</div>

<br />

@Html.ActionLink("Povratak na oglase", "Popis", "Oglas", null, new { @class = "btn btn-primary btn-sm" })

@if (User.Identity.IsAuthenticated)
{
    if (((User as LogiraniKorisnik).KorisnickoIme) == Model.KorisnickoIme || (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator) || (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Moderator))
    {
        @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = Model.ID }, new { @class = "btn btn-warning btn-sm", style = "margin-left: 5px;" })
        @Html.ActionLink("Izbriši", "Brisi", new { id = Model.ID }, new { @class = "btn btn-danger btn-sm", style = "margin-left: 5px;" })
    }
}