@using Web_oglasnik.Models
@model List<Oglas>
@{
    ViewBag.Title = "Oglasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oglasi</h2>

<hr />

@if (Session["ID"] != null)
{
    <a href="@Url.Action("Azuriraj", "Oglas")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Predaj oglas
    </a>
}
else
{
    <a href="@Url.Action("Login", "Korisnik")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Predaj oglas
    </a>
}
<br />
<br />

@using (Html.BeginForm("Popis", "Oglas", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.TextBox("naslov", "", new { @class = "form-control", placeholder = "Naziv oglasa" })
    @Html.DropDownList("marka", new SelectList(Enum.GetValues(typeof(Marke))), "Sve marke", new { @class = "form-control", style = "margin-left: 3px;" })
    <div class="form-control">
        <label class="radio-inline">
            @Html.RadioButton("stanje", "N") Novo
        </label>
        <label class="radio-inline">
            @Html.RadioButton("stanje", "R") Rabljeno
        </label>
        <label class="radio-inline">
            @Html.RadioButton("stanje", "") Sve
        </label>
    </div>

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Traži
    </button>
}
@if (Model.Count() <= 0)
{
    <p>Nema rezultata pretrage!</p>
}
else
{
    <table>
        @foreach (Oglas oglas in Model)
        {
            <tr>
                <td><h3>@Html.ActionLink(oglas.Naslov, "Detalji", new { id = oglas.ID })</h3></td>
            </tr>

            <tr>
                <td><strong>Marka:</strong></td>
                <td>@oglas.Marka</td>
            </tr>

            <tr>
                <td><strong>Stanje:</strong></td>
                @if (oglas.Stanje == "N")
                {
                    <td>Novo</td>
                }
                else
                {
                    <td>Rabljeno</td>
                }
            </tr>

            <tr>
                <td><strong>Godište:</strong></td>
                <td>@oglas.Godiste.</td>
            </tr>

            <tr>
                <td><strong>Cijena:</strong></td>
                <td>@String.Format("{0:N0}", Convert.ToDecimal(oglas.Cijena)) kn </td>
            </tr>

            <tr>
                <td><strong>Objavljen:</strong></td>
                <td>@oglas.Datum</td>
            </tr>
        }
    </table>
}

