@using Web_oglasnik.Models
@model List<Oglas>
@{
    ViewBag.Title = "Oglasi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        UpdateTargetId = "popisOglasa",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };
}

<h2>Oglasi</h2>

<hr />

@if (Session["ID"] != null)
{
    <a href="@Url.Action("Azuriraj", "Oglas")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Predaj oglas
    </a>
}
else
{
    <a href="@Url.Action("Login", "Korisnik")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Predaj oglas
    </a>
}
<br />
<br />

@using (Ajax.BeginForm("PopisPartial", "Oglas", ajaxOpt, new { @class = "form-inline", id = "formPopisStudenata" }))
{
    @Html.TextBox("naslov", "", new { @class = "form-control", placeholder = "Naziv oglasa" })
    @Html.DropDownList("marka", new SelectList(Enum.GetValues(typeof(Marke))), "Sve marke", new { @class = "form-control", style = "margin-left: 3px;" })
    <div class="form-control">
        <label class="radio-inline">
            @Html.RadioButton("stanje", "N") Novo
        </label>
        <label class="radio-inline">
            @Html.RadioButton("stanje", "R") Rabljeno
        </label>
        <label class="radio-inline">
            @Html.RadioButton("stanje", "") Sve
        </label>
    </div>

    @Html.TextBox("cijenaVece", "", new { @class = "form-control", placeholder = "Od", style = "margin-right: 1px; width: 100px;" })
    @Html.TextBox("cijenaManje", "", new { @class = "form-control", placeholder = "Do", style = "margin-left: 3px; width: 100px;" })

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        Traži
    </button>
}
<hr />
@{
    Html.RenderAction("PopisPartial", new { naslov = "", stanje = "", marka = "" });
}

@section Scripts{
    <script type="text/javascript">
        function LoadingRow() {
            $("#tableOglasi tbody").empty();

            $("#tableOglasi tbody").append('<tr><td colspan="7" style="text-align: center">Pretraga u tijeku...</td></tr>');

            $("#pager").empty();
        }
    </script>
}

